body{
  display:flex;
}
#grid {
    margin-left:50px;
    margin-top:30px;
		padding: 1px;
}

.row {
		margin: 0;
}

.cell {
		border: 1px solid #ddd;
		width: 40px;
		height: 40px;
		display: inline-block;
		margin: 1px;
		vertical-align: top;
}

.change {
  background-color:black;
}

form {
  margin:10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

input {
  width: 300px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  padding:5px;
}